<style>
  #piezas_table .btn {
    box-shadow: none !important;
  }

  #piezas_table td {
    cursor: pointer !important;
  }

  .modal {
    z-index: 20;
  }

  .modal-backdrop {
    z-index: 10;
  }

  #dpz-cliente{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    overflow: hidden;
  }

  #dpz-cliente .dz-default.dz-message{
    width: 150px;
    height: 150px;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    text-align: center;
  }

  #dpz-cliente .dz-remove{
    display: none;
  }

 

  #dpz-cliente .dz-default.dz-message::before{
    position: initial;
  }

  #profile-img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  #profile-img::after{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  #change_profile_btn{
    position: absolute;
    right: 0;
  }

  #dpz-cliente .dz-thumbnail{
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    background: transparent;
    border-bottom: none;
    border-radius: 100%;
    overflow: hidden;
  }

  #dpz-cliente .dz-thumbnail img{
    height: 100%;
    width: 100%;
  }

  #dpz-cliente .dz-preview{

    box-shadow: none;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    left: 0;
    position: absolute;
    top: 0;
    margin: 0;

  }

  #offcanvas-images-list{
    overflow: hidden;
  }
  
</style>
<link rel="stylesheet" href="/public/assets/vendor/css/pages/app-chat.css" />

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="d-flex justify-content-between align-items-center pb-2 border-bottom">
    <div class="d-flex align-items-center gap-2">
      <h4 class="mb-0">
        <span class="text-muted fw-light"><a class="text-muted" href="/clientes">Clientes</a> /</span>
        <span id="client_name_title"> <%= clientData.nombre %> </span>
      </h4>
      <!-- <span id="client-status"
				class="badge <%= clientData.meta?.status === 'archived' ?  'bg-label-warning' : 'bg-label-success' %>">
				<%= clientData.meta?.status=="archived" ? "Archivado" : "Activo" %>
			</span> -->
    </div>

    <div>
      <button
        class="btn btn-label-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        Opciones
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        <li>
          <a
            id="edit_client"
            data-bs-toggle="modal"
            data-bs-target="#modal_edit_client"
            class="dropdown-item d-flex align-items-center gap-2"
            href="javascript:void(0);"
            ><i class="ti ti-edit ti-xs me-1"></i>Editar</a
          >
        </li>
        <li>
          <a
            id="deleteClient"
            class="dropdown-item d-flex align-items-center gap-2"
            href="javascript:void(0);"
            data-bs-toggle="modal"
            data-bs-target="#delete_client_modal"
            ><i class="ti ti-trash-x ti-xs me-1"></i>Eliminar</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="row pt-3">
    <!-- User Sidebar -->
    <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
      <!-- User Card -->
      <div class="card mb-4">
        <div class="card-body">
          <div id="container-upload-pp" class="d-flex justify-content-center <%= profile_picture ? 'd-none' : '' %>">
            <div id="dpz-cliente" class="fallback dropzone">
              <input id="input-img-cliente" type="file" multiple />
            </div>
          </div>
          <div id="container-pp" class="d-flex justify-content-center <%= profile_picture ? '' : 'd-none' %> ">
            <div id="profile-img" class="bg-label-dark position-relative">
              <button id="change_profile_btn" type="button" class="btn btn-icon btn-label-primary">
                <span class="ti ti-edit"></span>
              </button>
              <img id="img-pp" style="border-radius: 100%;" class="w-100 h-100 object-fit-contain" src="<%= profile_picture?.signedUrl %>"/>
              
            </div>
          </div>
          <p class="small text-uppercase text-muted mb-0 mt-4">Detalles</p>
          <div class="info-container pt-2">
            <ul class="list-unstyled">
              <li class="mb-2">
                <span class="fw-medium me-1">Nombre:</span>
                <span id="details_client_name"> <%= clientData.nombre %> </span>
              </li>
              <li class="mb-2">
                <span class="fw-medium me-1">Identificador:</span>
                <span id="details_client_rfc">
                  <%= clientData.identificador ? clientData.identificador : "No asignado" %>
                </span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">Domicilio:</span>
                <span id="details_client_adress"> <%= clientData.domicilio %> </span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">Estado:</span>
                <span id="details_client_state"> <%= clientData.estado ? clientData.estado : "No asignado" %> </span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">Ciudad:</span>
                <span id="details_client_city"> <%= clientData.ciudad ? clientData.ciudad: "No asignado" %> </span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">Teléfono:</span>
                <span id="details_client_phone">
                  <%= clientData.telefono ? clientData.telefono : "No asignado" %>
                </span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">Celular:</span>
                <span id="details_client_cellphone">
                  <%= clientData.celular ? clientData.celular : "No asignado" %>
                </span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">Correo:</span>
                <span id="details_client_mail"> <%= clientData.correo ? clientData.correo : "No asignado" %> </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
      <div class="card">
        <div class="card-header pt-1">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                type="button"
                class="nav-link active"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#navs_catalogo"
                aria-controls="navs_catalogo"
                aria-selected="true">
                <i class="ti ti-box ti-xs me-1"></i>
                Productos
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#navs_historial"
                aria-controls="navs_historial"
                aria-selected="false"
                tabindex="-1">
                <i class="ti ti-clock ti-xs me-1"></i>
                Historial
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#navs_stats"
                aria-controls="navs_stats"
                aria-selected="false"
                tabindex="-1">
                <i class="ti ti-chart-area ti-xs me-1"></i>
                Estadísticas
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#navs_settings"
                aria-controls="navs_settings"
                aria-selected="false"
                tabindex="-1">
                <i class="ti ti-settings ti-xs me-1"></i>
                Configuración
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content p-0 pt-3">
            <div class="tab-pane fade show active" id="navs_catalogo" role="tabpanel">
              <div class="row">
                <div class="col-md-6">
                  <div class="d-flex justify-content-between align-items-center gap-2">
                    <div class="flex-grow-1">
                      <input id="search_equipment" class="form-control" type="search" placeholder="Buscar pieza ..." />
                    </div>
                    <!--<button type="button" class="btn btn-icon me-2 btn-label-primary waves-effect">
                      <span class="ti ti-filter"></span>
                    </button>-->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex justify-content-end align-items-center">
                    <button
                      type="button"
                      class="btn btn-label-success waves-effect waves-light"
                      data-bs-toggle="modal"
                      data-bs-target="#modal_create_pieza">
                      <span class="tf-icons ti-xs ti ti-plus me-1"></span>Nuevo
                    </button>
                  </div>
                </div>
              </div>
              <div class="table-responsive border-top mt-3">
                <!--TABLE HERE-->
                <div id="clientes_table_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                  <table id="piezas_table" class="table table-striped w-100 table-hover table-sm"></table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="navs_historial" role="tabpanel">
              Historial de órdenes de compra
              <!--<ul class="timeline mb-0 pt-2">
                <li class="timeline-item timeline-item-transparent">
                  <span class="timeline-point timeline-point-primary"></span>
                  <div class="timeline-event">
                    <div class="timeline-header mb-1">
                      <h6 class="mb-0">12 Invoices have been paid</h6>
                      <small class="text-muted">12 min ago</small>
                    </div>
                    <p class="mb-2">Invoices have been paid to the company</p>
                    <div class="d-flex">
                      <a href="javascript:void(0)" class="me-3">
                        <img src="/public/assets/img/icons/misc/pdf.png" alt="PDF image" width="15" class="me-2" />
                        <span class="fw-medium text-heading">invoices.pdf</span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="timeline-item timeline-item-transparent">
                  <span class="timeline-point timeline-point-primary"></span>
                  <div class="timeline-event">
                    <div class="timeline-header mb-1">
                      <h6 class="mb-0">12 Invoices have been paid</h6>
                      <small class="text-muted">12 min ago</small>
                    </div>
                    <p class="mb-2">Invoices have been paid to the company</p>
                    <div class="d-flex">
                      <a href="javascript:void(0)" class="me-3">
                        <img src="/public/assets/img/icons/misc/pdf.png" alt="PDF image" width="15" class="me-2" />
                        <span class="fw-medium text-heading">invoices.pdf</span>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>-->
            </div>
            <div class="tab-pane fade" id="navs_stats" role="tabpanel">Estadísticas</div>
            <div class="tab-pane fade" id="navs_settings" role="tabpanel">
              <form id="form_qr_config" class="row g-3">
                <div class="col-md-12">
                  <label for="TagifyCustomInlineSuggestion" class="form-label">Formato de código</label>
                  <input
                    id="TagifyCustomInlineSuggestion"
                    name="code_string"
                    class="form-control"
                    placeholder="Selecciona una opción o escribe un valor"
                    value="<%= clientData.code_string %>"
                     />
                </div>
                <div class="col-md-4">
                  <label for="select2Basic" class="form-label">Tipo de código</label>
                  <select name="code_type" id="select2Basic" class="select2 form-select" data-allow-clear="true">
                    <option value="QR" <%= clientData.code_type === "QR" ? "selected":"" %>>Código QR</option>
                    <option value="DM" <%= clientData.code_type === "DM" ? "selected":"" %>>Código DataMatrix</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="select2Basic" class="form-label">Identificador de proveedor</label>
                  <input type="text" class="form-control" name="proveedor_id" value="<%= clientData.proveedor_id %>" />
                </div>
                <div class="col-md-4">
                  <label for="select2Basic" class="form-label">Moneda</label>
                  <select name="currency" id="select2Basic" class="select2 form-select" data-allow-clear="true">
                    <option value="MXN" <%= clientData.currency === "MXN" ? "selected":"" %>>MXN</option>
                    <option value="USD" <%= clientData.currency === "USD" ? "selected":"" %>>USD</option>
                  </select>
                </div>
                <div class="col-md-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-success">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ User Content -->
  </div>
</div>

<!-- Modal editar cliente -->
<div class="modal fade modal_cliente" id="modal_edit_client" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal_cliente" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="edit-client-form" class="row g-3">
          <div class="col-md-7">
            <label for="nombre_cliente" class="form-label required">Nombre</label>
            <input type="text" id="nombre_cliente" name="nombre" class="form-control" />
          </div>
          <div class="col-md-5">
            <label for="rfc_cliente" class="form-label required">RFC o identificador</label>
            <input type="text" id="rfc_cliente" class="form-control" name="identificador" />
          </div>
          <div class="col-md-12">
            <label for="domicilio_cliente" class="form-label">Domicilio</label>
            <input type="text" id="domicilio_cliente" class="form-control" name="domicilio" />
          </div>
          <div class="col-md-6">
            <label for="pais_cliente" class="form-label">País</label>
            <input id="pais_cliente" class="form-control" name="pais" />
          </div>
          <div class="col-md-6">
            <label for="estado_cliente" class="form-label">Estado</label>
            <input id="estado_cliente" class="form-control" name="estado" />
          </div>
          <div class="col-md-6">
            <label for="ciudad_cliente" class="form-label">Ciudad</label>
            <input id="ciudad_cliente" class="form-control" name="ciudad" />
          </div>
          <div class="col-md-6">
            <label for="email_cliente" class="form-label">Correo electrónico</label>
            <input class="form-control" type="email" id="email_cliente" name="correo" />
          </div>
          <div class="col-md-6">
            <label for="telefono_cliente" class="form-label">Teléfono</label>
            <input class="form-control" type="tel" id="telefono_cliente" name="telefono" />
          </div>
          <div class="col-md-6">
            <label for="celular_cliente" class="form-label">Celular</label>
            <input class="form-control" type="tel" id="celular_cliente" name="celular" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="confirm_edit_client" type="submit" form="edit-client-form" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!--! MODAL DELETE CLIENTE -->
<div class="modal fade" id="delete_client_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Eliminar cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p>Esta acción es irreversible, las órdenes de compra continuarán siendo visibles.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer d-block">
        <div class="d-flex justify-content-end">
          <button id="delete_client_btn" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--! MODAL DELETE pieza -->
<div class="modal fade" id="delete_pieza_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Eliminar Pieza</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p>Esta acción es irreversible, permanecerá su información en las órdenes de compra finalizadas.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer d-block">
        <div class="d-flex justify-content-end">
          <button id="delete_pieza_btn" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--! MODAL DELETE revisión -->
<div class="modal fade" id="delete_revision_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Eliminar revisión (<span id="revision-delete"></span>)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p>Esta acción es irreversible, permanecerá su información en las órdenes de compra finalizadas.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer d-block">
        <div class="d-flex justify-content-end">
          <button id="delete_revision_btn" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ADD PIEZA -->
<div class="modal fade modal_cliente" id="modal_create_pieza" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal_cliente" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear pieza</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="crear-pieza-form" class="row g-3">
          <div class="col-md-12">
            <label for="numero_parte" class="form-label required">Número de parte</label>
            <input type="text" id="numero_parte" name="numero_parte" class="form-control" />
          </div>
          <div class="col-md-12">
            <label for="descripcion" class="form-label required">Descripción de la pieza</label>
            <input type="text" id="descripcion" name="descripcion" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="costo_produccion" class="form-label required">Costo de producción</label>
            <input type="text" id="costo_produccion" name="costo_produccion" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="costo_venta" class="form-label required">Costo de venta</label>
            <input type="number" min="0" id="costo_venta" name="costo_venta" class="form-control" />
          </div>
          <div class="col-md-12">
            <label for="input-imgs" class="form-label required">Imágenes</label>
            <div id="dpz-imgs" class="fallback dropzone">
              <input id="input-imgs" type="file" multiple />
            </div>
          </div>
          <div class="col-md-12">
            <label for="input-files" class="form-label required">Archivos</label>
            <div id="dpz-files" class="fallback dropzone">
              <input id="input-files" type="file" multiple />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="confirm_new_pieza" type="submit" form="crear-pieza-form" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!--! MODAL EDIT PIEZA -->
<div class="modal fade modal_cliente" id="modal_editar_pieza" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal_cliente modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar pieza</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editar-pieza-form" class="row g-3">
          <div class="col-md-12">
            <label for="numero_parte_editar" class="form-label required">Número de parte</label>
            <input type="text" id="numero_parte_editar" name="numero_parte" class="form-control" />
          </div>
          <div class="col-md-12">
            <label for="descripcion_editar" class="form-label required">Descripción de la pieza</label>
            <input type="text" id="descripcion_editar" name="descripcion" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="costo_produccion_editar" class="form-label required">Costo de producción</label>
            <input type="text" id="costo_produccion_editar" name="costo_produccion" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="costo_venta_editar" class="form-label required">Costo de venta</label>
            <input type="number" min="0" id="costo_venta_editar" name="costo_venta" class="form-control" />
          </div>
          <div class="col-md-12">
            <div>
              <label for="switch-input-estado" class="form-label">Estado</label>
            </div>
            <label class="switch switch-outline switch-success">
              <input type="checkbox" class="switch-input" id="switch-input-estado" name="estado" />
              <span class="switch-toggle-slider">
                <span class="switch-on">
                  <i class="ti ti-check"></i>
                </span>
                <span class="switch-off">
                  <i class="ti ti-x"></i>
                </span>
              </span>
              <span class="switch-label" id="edit-pieza-label-estado">No Activo</span>
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="confirm_edit_pieza" type="submit" form="editar-pieza-form" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!--! MODAL EDIT REVISIÓN -->
<div class="modal fade modal_cliente" id="modal_editar_revision" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal_cliente" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar revisión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editar-revision-form" class="row g-3">
          <div class="col-md-12">
            <label for="input-imgs-edit" class="form-label required">Imágenes</label>
            <div id="dpz-imgs-edit" class="fallback dropzone">
              <input id="input-imgs-edit" type="file" multiple />
            </div>
          </div>
          <div class="col-md-12">
            <label for="input-files-edit" class="form-label required">Archivos</label>
            <div id="dpz-files-edit" class="fallback dropzone">
              <input id="input-files-edit" type="file" multiple />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="confirm_edit_revision" type="submit" form="editar-revision-form" class="btn btn-success">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<!--! MODAL NEW REVISIÓN -->
<div class="modal fade modal_cliente" id="modal_nueva_revision" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal_cliente" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva revisión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="nueva-revision-form" class="row g-3">
          <div class="col-md-12">
            <label for="descripcion" class="form-label required">Descripción de la revisión</label>
            <input type="text" id="descripcion" name="descripcion" class="form-control" />
          </div>
          <div class="col-md-12">
            <label class="form-label required">Imágenes</label>
            <div id="dpz-imgs-new" class="fallback dropzone">
              <input type="file" multiple />
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label required">Archivos</label>
            <div id="dpz-files-new" class="fallback dropzone">
              <input type="file" multiple />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="confirm_new_revision" type="submit" form="nueva-revision-form" class="btn btn-success">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<!--!OFFCANVAS PIEZA-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_pieza" aria-labelledby="offcanvasEndLabel">
  <div class="offcanvas-header">
    <div class="d-flex align-items-center gap-2">
      <h5 id="offcanvas_pieza_title" class="offcanvas-title mb-0">[Número de parte]</h5>
      <span id="badge-status-pieza" class="badge bg-label-success">Activo</span>
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body mx-0 flex-grow-0">
    <div class="row g-3">
      <div class="col-md-12">
        <p class="mb-0"><strong>Número de parte: </strong><span id="numero_parte_oc">[Número de parte]</span></p>
        <p class="mb-0"><strong>Descripción de la pieza: </strong><span id="descripcion_oc">[Descripción de la pieza]</span></p>
      </div>
      <div class="col-md-12">
        <div class="d-flex gap-2">
          <button id="btn_edit_pieza" type="button" class="btn btn-label-secondary flex-grow-1">
            <span class="tf-icons ti-xs ti ti-edit me-1"></span>Editar pieza
          </button>
          <button type="button" class="btn btn-icon btn-label-danger" id="btn-open-delete-pieza">
            <span class="ti ti-trash-x"></span>
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <hr class="m-0" />
      </div>
      <div class="col-md-12">
        <div class="row g-3">
          <div class="col-md-12">
            <div class="d-flex align-items-center justify-content-between">
              <h6 class="mb-0">Revisión</h6>
              <button id="btn_new_revision" type="button" class="btn btn-label-success">
                <span class="tf-icons ti-xs ti ti-plus me-1"></span>Revisión
              </button>
            </div>
          </div>
          <div class="col-md-12">
            <select id="select_revision" class="form-select mt-2">
              <option value="0">Revisión actual</option>
            </select>
            <div class="mt-2">
              <span class="text-muted small">Creado el: </span><span id="revision_date_created" class="text-muted small">[Fecha de creación]</span>
            </div>
            
          </div>
          <div class="col-md-12">
            <div class="d-flex gap-2">
              <button id="btn_edit_revision" type="button" class="btn btn-label-secondary flex-grow-1">
                <span class="tf-icons ti-xs ti ti-edit me-1"></span>Editar revisión
              </button>
              <button id="btn-delete-revision" type="button" class="btn btn-icon btn-label-danger">
                <span class="ti ti-trash-x"></span>
              </button>
            </div>
          </div>
          <div class="col-md-12">
            <h6 class="mb-0">Imágenes</h6>
            <div id="offcanvas-images-list" class="list-group mt-2">

            </div>
          </div>
          <div class="col-md-12">
            <h6 class="mb-0">Archivos</h6>
            <div id="offcanvas-files-list" class="list-group mt-2">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  '<% const parsed = clientData %>'
  '<% delete clientData.code_string %>'
  var clientData = JSON.parse('<%- JSON.stringify(clientData) %>') ?? {};
  console.log({ clientData })
  var piezasData = JSON.parse('<%- JSON.stringify(piezasData) %>') ?? [];
  var piezas_table;
</script>

<script src="/public/scripts/clientes/cliente.js" type="module"></script>
<script src="/public/scripts/clientes/piezas-table.js" type="module"></script>
<script src="/public/scripts/clientes/piezas.js" type="module"></script>
